.App {
  min-width: 576px;
}

.Focus {
  background-color: #ececec;
}

.Wrap {
  overflow: hidden;
}

.Wrap-Text {
  width: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  background-image: url(./imgs/snow.webp);
}
.listS {
  background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
}
